/*
theme colors
primary: #60993E(PALM LEAF)
secondary: #613A3A(HORSES)
third: #A1E44D(KIWI)
light: #ECE2D0(ALMOND)
gray: #CEBEBE(PALE SILVER)
*/

html{
    background-color: #f06543;
}

body {
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.text-center{
    text-align: center;
}

.mt-2{
    margin-top: 12px;
}

.mt-4{
    margin-top: 24px;
}

.mt-6{
    margin-top: 36px;
}

.is-palmleaf{
    background-color: #60993E;
    color: white;
}

.is-tomato{
    background-color: #f06543;
    color: white;
}
.is-tomato .title{
    color: white;
}
.is-tomato .message-header{
    background-color: #f06543;
}

.is-tomato .message-body{
    background-color: #e8e9eb;
}

.text-tomato{
    color: #f06543;
}

.text-tomato-light-2{
    color: #F48F76;
}

.text-tomato-light{
    color: #F8B9A9;
}

.tray{
    max-width: 800px;
    margin: auto;
    padding: 1.5rem;
    border: solid 3px #f06543;
    border-radius: 2rem;
    background-color: #F0F5ED;
}

.tray-title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #f06543;
    border-bottom: dotted 3px #f06543;
}

.bgstr-parent{
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.bgstr{
    position: absolute;
    z-index: -1;
    top: -120px;
    right: -120px;
    right: 0;
    white-space: nowrap;
    font-size: 18rem;
    font-weight: bold;
    transform: rotate(-15deg);
}

#recipe_name{
    font-size: 1.5rem;
    font-weight: bold;
    color: #f06543;
}