/*
theme colors
primary: #60993E(PALM LEAF)
secondary: #613A3A(HORSES)
third: #A1E44D(KIWI)
light: #ECE2D0(ALMOND)
gray: #CEBEBE(PALE SILVER)
*/

html{
    background-color: #DCF5BE;
}

body {
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.text-center{
    text-align: center;
}

.mt-2{
    margin-top: 12px;
}

.mt-4{
    margin-top: 24px;
}

.mt-6{
    margin-top: 36px;
}

.is-palmleaf{
    background-color: #60993E;
    color: white;
}

.tray{
    overflow: hidden;
    z-index: 1;
    max-width: 800px;
    margin: auto;
    padding: 1.5rem;
    border: solid 3px #60993E;
    border-radius: 2rem;
    background-color: #F0F5ED;
    position: relative;
}

.tray-title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #60993E;
    border-bottom: dotted 3px #60993E;
}

.bgstr{
    position: absolute;
    color: #DFEAD8;
    z-index: -1;
    top: -160px;
    right: -160px;
    right: 0;
    white-space: nowrap;
    font-size: 30rem;
    font-weight: bold;
    transform: rotate(-15deg);
}

#suggested_recipe{
    max-width: 800px;
    margin: auto;
    padding: 1.5rem;
    border: solid 3px #60993E;
    border-radius: 2rem;
    background-color: #F0F5ED;
}

#suggested_recipe_title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #60993E;
    border-bottom: dotted 3px #60993E;
}

#recipe_name{
    font-size: 1.5rem;
    font-weight: bold;
    color: #60993E;
}